<main>
    <h2>Firmen</h2>
    <ng-container *ngIf="isInitiallyLoaded(firmenLoadingState)">
        <mat-form-field>
            <input matInput [ngModel]="searchQuery" (ngModelChange)="searchQuery = $event; search()"/>
        </mat-form-field>
        <ul>
            <li *ngFor="let firma of firmenPage.page">
                <a [routerLink]="[firma.id]">{{firma.name}}</a>
            </li>
        </ul>
        <app-pagination [totalPages]="firmenPage.totalPages" [currentPage]="firmenPage.currentPage"
                        (pageClicked)="navigateToPage($event)"></app-pagination>
        <div>Showing {{firmenPage.page.length}}/{{firmenPage.totalCount}} Firmen.</div>

    </ng-container>

    <ng-container *ngIf="firmenLoadingState === LoadingStates.StillLoading">
        <mat-spinner></mat-spinner>
    </ng-container>

    <ng-container *ngIf="firmenLoadingState === LoadingStates.LoadingError">
        <app-error>{{ errorMessage }}</app-error>
    </ng-container>


</main>